<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="/Static/js/bxslider/dist/jquery.bxslider.css">
<script src="/Static/js/bxslider/dist/jquery.bxslider.min.js"></script>

<script>
/*
window.fbAsyncInit = function() {
	FB.init({
		appId : 'your-app-id',
		autoLogAppEvents : true,
		xfbml : true,
		version : 'v2.12'
	});
};
(function(d, s, id) {
	var js, fjs = d.getElementsByTagNAme(s)[0];
	if (d.getElementById(id)) {return;}
	js = d.createElement(s);
	js.id = id;
	js.src = "https://connect.facebook.net/en_US/sdk.js";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
*/

$(document).ready(function(){
	var slider = $('.slider').bxSlider({
		auto: false,
		speed: 500,
		pause: 4000,
		mode:'fade',
		autoControls: false,
		pager:true,
		captions:true,
		//adaptiveHeight:true,
		autoHover: true,
		onSlideAfter: function() {
			var cur_idx = slider.getCurrentSlide();
			var vid = document.getElementById("slider_video");
			if ({{nav}} == cur_idx)
			{
				vid.play();
			}
			/*
			else{
				vid.pause();
			}*/
		}
	});
});

</script>
<script>
$(document).ready(function(){
	autolink("FILED");
});

function autolink(id) {
    var container = document.getElementById(id);
    var doc = container.innerHTML;
	console.log(doc);
    var regURL = new RegExp("(http|https|ftp|telnet|news|irc)://([-/.a-zA-Z0-9_~#%$?&=:200-377()]+)","gi");
    var regEmail = new RegExp("([xA1-xFEa-z0-9_-]+@[xA1-xFEa-z0-9-]+\.[a-z0-9-]+)","gi");
    container.innerHTML = doc.replace(regURL,"<a href='$1://$2' target='_blank'>$1://$2</a>").replace(regEmail,"<a href='mailto:$1'>$1</a>");
}
</script>
<style>
h1{
	margin-bottom : -1.5rem;
}
.bx-pager-item {
	margin-top: 10px;
}
#contents-top{
	margin-top : -80px;
	margin-bottom: 3rem;
}
.contents-box+.contents-box{
	margin-top : -90px;
	white-space:pre-wrap;
}

	display :  flex;
	flex-direction : row;
	justify-content : center;
	align-items : center;
	padding-bottom : 0.5rem;
	border-top: 2px solid #EEE;
	padding-top : 40px;
	width:95%;
	margin-left:2.5%;
}
.paging-btn div + div{
	margin-left : 5rem;
}
.previous-btn, .next-btn{
	padding-right : 1.1rem;
	padding-left: 1.1rem;
	padding-top : 0.6rem;
	padding-bottom : 0.6rem;
	border : 1.5px solid  gray;
	color : gray;
	font-weight : 400;
	border-radius : 5px;
	width : 100px;
	text-align : center;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	cursor : pointer;
}
.previous-background, .next-background{
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;
}
.previous-btn:hover{
	/* height : 1.3rem; */
	background : gray;
}
.previous-btn:hover .previous-title{
	color : white;
	z-index : 5;
}
.next-btn:hover{
	background : gray;
}
.next-btn:hover .next-title{
	color:white;
	z-index:5;
}
.bx-wrapper {
	min-height:450px;
	margin-top:30px;
	border:0.5px solid #d2d2d2;
	box-shadow:0 0 0 0;
	-webkit-box-shadow:0 0 0 0;
}

.bx-viewport {
    position: absolute !important;
	height:100% !important;
}

.slider {
	height: 100% !important;
}

.slider li {
	height:100%;
}

a {
	text-decoration:none;
}

a:visited {
	color:blue;
}

li {
    list-style: circle;
    line-height: 15px;
}

li img {
	margin:0px auto;
	height:100%;
}
p{
	white-space:pre-line;
}
.A_card {
	width:95%;
	margin:0px auto;
	margin-bottom:30px;
	{% if Session.0 == inv_author %}
	margin-top: 50px;
	{% else %}
	margin-top: 20px;
	{% endif %}
	/* box-shadow: 3px 3px 10px 0px grey; */
}

.card_top {
	width:100%;
	height:35px;
	overflow:hidden;
	border-bottom: 2px solid #EEE;
}

.category_news {
	width:20%;
	height:100%;
	float:left;
	background-color:#00a1c9;
	color:white;
	line-height: 2.4em;
    text-align: center;
	font-size: 15px;
    font-weight: bold;
}

.category_events {
	width:20%;
	height:100%;
	float:left;
	background-color:#e64946;
	color:white;
	line-height: 2.4em;
    text-align: center;
	font-size: 15px;
    font-weight: bold;
}

.date {
	width:78%;
	height:100%;
	float:left;
	line-height: 2.5em;
	padding-left: 1%;
	color:#7E7E7E;
	font-size:14px;
	font-style:italic;
	text-align:right;
}

.postedby {
	line-height: 2.5em;
	padding-left: 1%;
	color:#7E7E7E;
	font-size:14px;
	font-style:italic;
	text-align:right;
	margin-right: 10px;
}

.title_card {
	padding-left:2%;
	width:98%;
	font-size:25px;
    font-weight: bold;
	margin-top:10px;
	margin-bottom:10px;
}

.contents_card {
	padding-left:15px;
	padding-bottom:20px;
	width:95%;
	height:auto;
	font-size:14px;
	line-height:1.5em;
	text-align:justify;
	margin-top:130px;
	}
	.slider {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	display:block;
	margin:auto;
	text-align:center;
}


.show_more {
	width:95%;
	font-size:15px;
	font-weight:bold;
	height:40px;
	background-color:#2f2f2f;
	color:white;
	text-align:center;
	line-height:2.7em;
	margin:0px auto;
	box-shadow: 3px 3px 10px 0px grey;
}

.show_more:hover {
	color:#004d79;
}

.bx-caption {
    font-size: 20px;
    font-weight: bold;
}

.com_title {
	font-size: 25px;
    line-height: 25px;
    border-bottom: 1px solid #EBECED;
    padding-bottom: 10px;
    padding-top: 10px;
	width:95%;
	margin:0px auto;
	font-weight:bold;
}

.comment_textarea {
	width:95%;
	margin:0px auto;
	margin-top:30px;
}

.comment_text {
	width:100%;
	padding-top:15px;
	padding-left:10px;
	font-size: 1.2em;
}

.comment_submit {
	float:right;
}

.btns {
	overflow: hidden;
    padding-top: 30px;
	margin:0px auto;
	width:20%;
    margin-bottom: 75px;
	float:right;
}

.submit_btn {
	border-radius:4px;
    position:relative;
    font-family:sans-serif;
    width:90%;
    height:40px;
    border:solid 2px #999;
    margin:0 auto;
    text-align:center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	cursor:pointer;
	float:right;
}

.submit_btn a{
    position:relative;
    padding:0px;
    text-transform:uppercase;
    text-decoration: none;
    color:#999;
    font-size:0.8rem;
    font-weight:600;
    line-height:40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1000;
}

.user-friendly {
  min-width:100%;
  padding:0px;
  float:left;
}

.submit_btn:hover a{
    color:#ffffff;
}

.submit_background {
    position: absolute;
    width:100%;
    bottom:0;
    height:0px;
    margin:0 auto;
    padding:0px;
    background-color: #999;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;
}

.submit_btn:hover .submit_background {
    height:40px;
}

.author_info {
	overflow:hidden;
	width:95%;
	margin:0px auto;
}

.author_name, .author_organization {
	margin-top:30px;
	float:left;
	font-size:18px;
	color:#696969;
}

.invisible_input {
	display:none;
}

.comment {
	width:95%;
	margin:0px auto;
	margin-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #ebebeb;
}

.comment_top {
	overflow:hidden;
	width: 100%;
}
.comment_top_author, .comment_top_datetime {
	float:left;
}

.comment_top_author {
	font-weight: 400;
	color:#696969;
	font-size:15px;
}

.comment_top_datetime {
	margin-left:15px;
	font-size:12px;
	color:#00A1C9;
	font-style:italic;
}

.comment_bottom {
	margin-top:10px;
	overflow:hidden;
}

.non_login {
	color:#A8A8A8;
	width:95%;
	margin:0px auto;
	margin-top:20px;
	margin-bottom:20px;
}

.comment_bottom_text {
	color:#909090;
	width:70%;
	float:left;
	white-space:pre-wrap;
	font-size:14px;
}

.comment_delete, .comment_modify {
	width:20px;
	height:20px;
	float:right;
	margin-left:10%;
	opacity:0.5;
	cursor:pointer;
}

.icons {
	width:30%;
	float:right;
	/*display:none;*/
}

.modify_text {
	display:none;
	width:60%;
}

.comment_wrap form {
	text-align:left;
}

.file {
	float:right;
	font-size:15px;
	width:100%;
	text-align:right;
}

.button_share {
	width: 32px;
	height: 32px;
	float: right;
	cursor: pointer;
	margin-right: 10px;
	position: relative;
	top: -3px;
}

.button_share img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: 32px;
	border-radius:5px;
}


.map_wrapper {
	width: 100%;
	height: auto;
	margin-top:3%;
}

#map {
	width: 80%;
	height: 400px;
	margin: auto;
	margin-bottom: 10px;
}

.venue {
	font-size:14px;
	color:#7E7E7E;
	text-align:right;
	width: 80%;
	margin: 0 auto;
}

.date_mobile, .date_m {
	display: none;
}

.btnss {
	overflow: hidden;
    padding-top: 10px;
	margin:0px auto;
	width: 70px;
	height: 30px;
	float:right;
	margin-right: 30px;
}

.submit_btns {
	border-radius:4px;
    position:relative;
    font-family:sans-serif;
    width:90%;
    height:85%;
    border:solid 2px #999;
    margin:0 auto;
    text-align:center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	cursor:pointer;
	float:right;
}

.submit_btns a{
    position:relative;
    padding:0px;
    text-transform:uppercase;
    text-decoration: none;
    color:#999;
    font-size:0.8rem;
    font-weight:600;
    line-height:30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1000;
}

.user-friendlys {
  min-width:100%;
  padding:0px;
  float:left;
}

.submit_btns:hover a{
    color:#ffffff;
}

.submit_backgrounds {
    position: absolute;
    width:100%;
    bottom:0;
    height:0px;
    margin:0 auto;
    padding:0px;
    background-color: #999;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;
}

.submit_btns:hover .submit_backgrounds {
    height:28px;
}


@media screen and (max-width: 780px) {
	#contents-top{
		margin-top : -20px;
	}

	h1{
		line-height : 25px;
	}
	.date {
		display: none;
	}

	.date_m {
		height:100%;
		float:right;
		margin-right: 5%;
		line-height: 2.5em;
		padding-left:20px;
		color:#7E7E7E;
		font-size:14px;
		font-style:italic;
		display:block;
	}
	/*
	.date_mobile {
		display: block;
		width: 100%;
		font-size: 12px;
		text-align: left;
		margin-left: 10px;
	}
*/
	.comment_top_author {
		font-size: 14px;
	}

	.comment_top_datetime {
		margin-left: 0px;
		text-align: right;
	}

	.comment_bottom_text {
		width: 100%;
	}

	.event_modify, .event_delete {
		margin-top: 10px;
	}
}
@media screen and (max-width: 740px) {
	.author_name {
		font-size: 14px;
	}

	.date_mobile {
		display: block;
		width: 100%;
		font-size: 12px;
		text-align: right;
	}

	.postedby {
		display: none;
	}

	.author_organization {
		margin-top: 3px;
	}

	.btnss {
		margin-right: 20px;
	}

	.comment_text {
		height: 50px;
	}

	#map {
		width: 90%;
		height: 200px;
	}

	.file {
		margin-bottom: 20px;
	}

	/*.bx-wrapper {
		min-height: 250px;
	}

	.bx-viewport {
		height: 250px;
	}*/
	.bx-wrapper {
		min-height:200px;
		height:200px;
		border:0.5px solid #d2d2d2;
		box-shadow:0 0 0 0;
		-webkit-box-shadow:0 0 0 0;
	}
	.bx-controls-direction {
		height: 200px;
	}
	.slider {
		max-width: 100%;
		height: 250px;
		width: auto;
	}

	.btns {
		width: 50%;
	}

	.contents_card {
		text-align: unset;
	}
	.contents-box h1{
		font-size : 1.6rem;
	}
}

@media screen and (max-width: 740px) {
	.category_news {
		width: 30%;
	}
	.contents-box h1{
		font-size : 1.4rem;
		margin-bottom : -35px;
	}
	.contents-box + .contents-box{
		margin-top : -167px;
	}
	{% if info_id == '11' %}
	.map_wrapper {
		margin-top: -150px;
	}
	{% endif %}
}
@media screen and (max-width : 340px){
	.category_news {
		width: 40%;
	}
	.paging-btn div + div{
		margin-left : 2rem;
	}
	.comment_text{
		width : 95%;
	}
}
</style>
<div id="forScroll">
    {% if Session.0 == inv_author %}
    <th:block th:if="${session.id == invData.inv_author}">
    <div class="btnss">
        <div class="submit_btns">
            <a class="user-friendlys" th:href="@{/ICH_data_modify/?id={id}(id=${invData.inv_id})}">Modify</a>
            <div class="submit_backgrounds"></div>
        </div>
    </div>
    <div class="btnss">
        <div class="submit_btns" onclick="yesorno();">
            <a class="user-friendlys">Delete</a>
            <div class="submit_backgrounds"></div>
        </div>
    </div>
    </th:block>
    <th:block th:if="${session.id == admin}">
    <div class="btnss">
        <div class="submit_btns">
            <a class="user-friendlys" th:href="@{/ICH_data_modify/?id={id}(id=${invData.inv_id})}">Modify</a>
            <div class="submit_backgrounds"></div>
        </div>
    </div>
    <div class="btnss">
        <div class="submit_btns" onclick="yesorno();">
            <a class="user-friendlys">Delete</a>
            <div class="submit_backgrounds"></div>
        </div>
    </div>
    </th:block>
    <div class="A_card">
        <div class="card_top">
            <div class="category_news">INVENTORIES</div>
            <div class="date" th:text="${invData.inv_upload_date}">{{ngo_info.0.19}}</div>
            <div class="date_m" th:text="${invData.inv_upload_date}">{{ngo_info.0.19}}</div>
            <!-- 	동욱 -->
        </div>
        <!--MOBILE VERSION-->
        <div class="date_mobile"><span style="color:#06a1b5; margin-right: 5px;" th:text="${ngo}">{% if ngo_info.0.18 != None %}{{ngo_info.0.18}} {% elif ngo_info.0.19 != None %}{{ngo_info.0.19}}{% endif %}</span></div>
        <!--PC, IPAD VERSION-->
        <div class="postedby"><span style="color:#06a1b5;" th:text="${ngo}">{% if ngo_info.0.18 != None %}{{ngo_info.0.18}} {% elif ngo_info.0.19 != None %}{{ngo_info.0.19}}{% endif %}</span></div>
        <!--<div class="postedby"><span style="color:#06a1b5; line-height:1.1em;">{{inv_author}}<br>{{user_email.0}}</span></div>-->
        <div class="title_card" style="font-size : 1.5rem;" th:text="${invData.inv_title}">{{ngo_info.0.3}}
            <th:block th:if ="${eventData.event_file != null}">
                <th:block th:utext="${fileTag}"></th:block>
            </th:block>
        </div>
        <th:block th:if ="${imageFlag == 1}">
            <ul class="slider">
                <th:block th:utext="${imageTag}"></th:block>
            </ul>
        </th:block>

        <!-- 동욱 -->
        <div class="contents_card" >
            {% if inv_description.0 != "" %}
            <th:block th:if="${invData.inv_contents != null}">
            <div class="contents-box"  id="contents-top">
                <h1 style = "margin-bottom: 1rem;">Contents</h1>
                <div id ="FIELD" style="white-space:pre-line; "th:utext="${invData.inv_contents}">{{inv_description.0|safe}}</div>
            </div>
            {% endif %}
            </th:block>

            <th:block th:if="${invData.inv_definition != null}">
            {% if inv_description.1 != "" %}
            <div class="contents-box">
                <h1>Definition of intangible cultural heritage</h1>
                <div th:utext="${invData.inv_definition}">{{inv_description.1}}</div>
            </div>
            {% endif %}
            </th:block>
            <th:block th:if="${invData.inv_contribution != null}">
            <div class="contents-box">
                <h1>Contribution towards visibility of intangible cultural heritage</h1>
                <div th:utext="${invData.inv_contribution}">{{inv_description.2}}</div>
            </div>
            {% endif %}
            </th:block>
            <th:block th:if="${invData.inv_safeguarding != null}">
            <div class="contents-box">
                <h1>Safeguarding measures</h1>
                <div th:utext="${invData.inv_safeguarding}">{{inv_description.3}}</div>
            </div>
            {% endif %}
            </th:block>
            <th:block th:if="${invData.inv_community != null}">
            <div class="contents-box">
                <h1>Community participation</h1>
                <div th:utext="${invData.inv_community}">{{inv_description.4}}</div>
            </div>
            {% endif %}
            </th:block>
            <th:block th:if="${invData.inv_inventory != null}">
            <div class="contents-box" style="margin-bottom : -70px;">
                <h1>Inventory</h1>
                <div th:utext="${invData.inv_inventory}">{{inv_description.5}}</div>
            </div>
            {% endif %}
            </th:block>
        </div>

        {% if venue_list|length != 0 %}
        <th:block th:if ="${venueLength != 0}">
        <div class="map_wrapper">
            <div id="map"></div>
        </div>
        <div class="venue"th:text="">Venue : {% for i in venue_list %}{{i.0}}{% if i != venue_list|last %}, {% endif %}{% endfor %}<br><br></div>
        {% endif %}
        </th:block>
    </div>
    <script>
function previousGo(){
	var first ='';
	if ({{prev_info_id}} == first) {
		alert('This is first post');
	}
	else{
	location.href="/ICH_data_detail/?id={{prev_info_id}}&Keyword={{Keyword}}&language={{language}}&category={{category}}";
	}
}
function nextGo(){
	var last='';
	if( {{next_info_id}} == last){
		alert('This is last post');
	}
	else{
	location.href="/ICH_data_detail/?id={{next_info_id}}&Keyword={{Keyword}}&language={{language}}&category={{category}}";
	}
}
</script>
    <div class="paging-btn">
        <div class="previous-btn" onclick="previousGo(); return false">
            <div class="previous-title">Prev</div>
            <div class="previous-background"></div>
        </div>
        <div class="next-btn" onclick="nextGo();">
            <div class="next-title">Next</div>
            <div class="next-background"></div>
        </div>
    </div>


    <div class="comment_wrap">
        <div class="com_title">Reply
            <div class="button_share"><img src="/Static/Images/share_facebook.png" onclick="share_facebook();" /></div>
            <div class="button_share"><img src="/Static/Images/share_twitter.png" onclick="share_twitter();" /></div>
        </div>
        <!--<form id="frm" action="/network_detail/?id={{info_id}}" method="post">
            <div class="comments">
                {% for i in comments %}
                    <div class="comment">
                        <div class="comment_top">
                            <div class="comment_top_author">{{i.2}} ({{i.3}})</div>
                            <div class="comment_top_datetime">{{i.4}}</div>
                        </div>
                        <div class="comment_bottom">
                            <div class="comment_bottom_text" id="{{i.0}}_hide">{{i.5|safe}}</div>
                            <textarea class="modify_text" name="modify_text" onkeydown="enterSearch()" id="{{i.0}}_show">{{i.5|safe}}</textarea>
                            <input type="text" class="invisible_input" name="comment_id" id="comment_id" value="{{i.0}}" ></input>
                            <div class="icons">
                                <div class="comment_delete" onclick='delete_process("{{i.0}}")'><img src="/Static/Images/delete_icon" width=100% height=100%/></div>
                                <div class="comment_modify" onclick='modify("{{i.0}}")'><img src="/Static/Images/modify_icon" width=100% height=100%/></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>-->
        <div class="comments">
            {% for i in comments %}
            <form id="cmt_frm_{{i.0}}" name="cmt_frm" action="/inv_cmt_modify_process/?id={{info_id}}&cmt_id={{i.0}}" method="post">
                <div class="comment">
                    <div class="comment_top">
                        <div class="comment_top_author">{{i.2}} ({{i.3}})</div>
                        <div class="comment_top_datetime">{{i.4}}</div>
                    </div>
                    <div class="comment_bottom">
                        <div class="comment_bottom_text" id="{{i.0}}_hide">{{i.5|safe}}</div>
                        <textarea class="modify_text" name="modify_text" id="{{i.0}}_show">{{i.5|safe}}</textarea>
                        <input type="text" class="invisible_input" name="comment_id" id="comment_id" value="{{i.0}}" ></input>
                        {% if Session.0 == i.6 %}
                        <div class="icons">
                            <input type="button" id="{{i.0}}_btn_show" value="save" onclick='cmt_modify("{{i.0}}");' style="display:none; width:50px; height: 30px;"></input>
                            <div class="comment_delete" onclick='delete_process("{{i.0}}","{{info_id}}")'><img src="/Static/Images/delete_icon" width=100% height=100%/></div>
                            <div class="comment_modify" onclick='modify("{{i.0}}")'><img src="/Static/Images/modify_icon" width=100% height=100%/></div>

                        </div>
                        {% endif %}
                    </div>
                </div>
            </form>
            {% endfor %}
        </div>
        {% if Session != -1 %}
        <form id="frm" action="/ICH_data_detail/?id={{info_id}}" method="post">
            <div class="comment_textarea">
                <textarea class="comment_text" name="comment" cols="45" rows="8" maxlength="65525" id="focus" placeholder="Leave a Reply"></textarea>
            </div>
            <div class="author_info">
                <div class="author_name">{{Session.1}}&nbsp;&nbsp;</div>
                <input type="text" name="author_name" value="{{Session.1}}" class="invisible_input"></input>

                {% if Session.3 != "" %}
                <div class="author_organization">({{Session.3}})</div>
                <input type="text" name="author_organization" value="{{Session.3}}" class="invisible_input"></input>
                {% else %}
                <div class="author_organization">({{Session.2}})</div>
                <input type="text" name="author_organization" value="{{Session.2}}" class="invisible_input"></input>
                {% endif %}
                <div class="btns">
                    <div class="submit_btn" onclick="cmt_submit()">
                        <a class="user-friendly">Post Comment</a>
                        <div class="submit_background"></div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="non_login">If you want to leave a reply, Please Login.</div>
            {% endif %}
        </form>

    </div>
</div>
<!--{{imageExif}}-->
<script>

var windowW = $( window ).width();
var windowH = $( window). height();
var left = Math.ceil((window.screen.width - windowW)/2);
var top = Math.ceil((window.screen.height = windowH)/2);

function showPopup(img_num) {
	window.open("/org_img/?type=inv&id={{info_id}}&img_num=" + img_num, "image", "width="+windowW+", height="+windowH+ ", menubar=no, scrollbars = no, status = no, toolbar = no");
}

window.onload = function() {
	img_process();
}

$(document).ready(function(){
	{% for i in image_comment %}
		{% if i.3 == "img" %}
			$("#page_img{{i.2}}").attr('src', '/Static/thumbnail/{{i.0}}');
		{% elif i.3 == "video" %}
			$("#page_img{{i.2}}").attr('src', '/Static/thumbnail/video_icon.png');
		{% endif %}
	{% endfor %}
});

function img_process() {
	{% for i in image_comment %}
		{% if i.3 == "img" %}
			$("#page_img{{i.2}}").attr('src', '/Static/thumbnail/{{i.0}}');
		{% elif i.3 == "video" %}
			$("#page_img{{i.2}}").attr('src', '/Static/thumbnail/video_icon.png');
		{% endif %}
		/*if ($("#page_img{{i.2}}").attr('src') == "")
		{
			$("#page_img{{i.2}}").attr('src', '/Static/thumbnail/{{i.0}}');
		}*/
		console.log("#page_img{{i.2}}");
	{% endfor %}
}

function yesorno() {
	if(confirm("Do you want to delete this?")){
		location.href="/ICH_data_delete_process/?id={{info_id}}";
	} else {
		return;
	}
}


document.addEventListener("DOMContentLoaded",
	function(){
		console.log("{{flag}}");
		if("{{flag}}" == "1"){
			document.getElementById("focus").focus();
	}
});

/*function enterSearch()        {
        // Enter Key가 눌린 경우
        if(event.keyCode == 13){
                event.cancelBubble = true;
                submit(); // 실제 submit을 날리는 function
        }
}*/

function cmt_submit() {
	console.log($('.comment_text').val());
	if($('.comment_text').val() == "")
	{
		alert("Please enter some text.");
	}
	else{
		frm.submit();
	}
}

function cmt_modify(index){
	if($('.modify_text').val() == ""){
		alert("Please enter some text.");
	}
	else{
		$("#cmt_frm_"+index).submit();
	}
}
/*function submit() {
	if($('.comment_text').val() == "" && $('.modify_text').val() == "")
	{
		alert("Please enter some text.");
	}
	else{
	frm.submit();
	}
}*/

function modify(index) {
	$('#'+index+'_hide').hide('fast');
	$('#'+index+'_show').show('fast');
	$('#'+index+'_btn_show').show('fast');
}

function delete_process(index, id) {
	var url="/inv_cmt_delete_process/?id="+id+"&cmt_id="+index;
	if(confirm("Do you want to delete this comment?")!=0){
		location.href=url;
	}
}
/*function delete_process(index) {
	if(confirm("Do you want to delete this comment?")!=0){
		$('#'+index+'_show').text('Delete this comment');
		document.getElementById(index+'_show').innerHTML='Delete this comment';
		document.getElementById('comment_id').value=index;
		//$('.comment_text').text().replace(/\n/g, "<br>")
		frm.submit();
		console.log(document.getElementById(index+'_show').innerHTML);
		console.log(document.getElementById('comment_id').value);
	}
	else{
	}
}
$(".comment").hover(function() {
   if ('{{Session.2}}' != "")
   {
	   var Session = '{{Session.1}}'+' ('+'{{Session.2}}'+')';
   }
   else{
	   var tmp = '{{Session.3}}'.replace("&#39;","'");
	   var Session = '{{Session.1}}'+' ('+tmp+')';
   }
   //var Session = '{{Session.1}}'+' ('+'{{Session.2}}'+')';
   console.log(Session);
   if(Session == $(this).find(".comment_top_author").text()){
   $(this).find(".icons").css("display", "block");
   }
}, function(){
    $(this).find(".icons").css("display", "none");
});*/

var url = location.href;

var title = "[ICH_NGO] - {{ngo_info.0.3}}\n";
title = encodeURIComponent(title);
var facebookurl = "http://www.facebook.com/sharer/sharer.php?u=ichngo.net/ICH_data_detail/?id={{info_id}}";
var twitterurl = "https://twitter.com/share?text=" + title + "&url=" + url;

function share_facebook() {
	var width = 600;
	var height = 520;
	var x = (window.screen.width / 2) - (width / 2);
	var y = (window.screen.height / 2) - (height /2);
	window.open(facebookurl, "공유하기", "width=600 , height=520, left="+x+", top="+y);
}

function share_twitter() {
	var width = 800;
	var height = 550;
	var x = (window.screen.width / 2) - (width / 2);
	var y = (window.screen.height / 2) - (height /2);
	window.open(twitterurl, "공유하기", "width=800, height=550, left="+x+", top="+y);
}

function initMap() {
	var center_of_map = {lat: 34.999, lng: -4.789};
	var map = new google.maps.Map(document.getElementById('map'), {
		{% if User_agent == "PC" %}
		zoom: 1,
		{% else %}
		zoom: 0,
		{% endif %}
		center: center_of_map,
		mapTypeControl: false,	//지도 위성 못바꾸게함
	    fullscreenControl: false,	//전체화면 못하게함
		streetViewControl: false, //거리뷰 못보게 오른쪽 사람모양 없앰
		//gestureHandling: "none"	//못움직이게함
	});

{% for i in venue_list %}
	var map_lat = {{i.1}};
	var map_lng = {{i.2}};
	map_lat *= 1;
	map_lng *= 1;
	venue = {lat: map_lat, lng: map_lng};
	var marker_{{i.3}} = new google.maps.Marker({
		position: venue,
		title: "{{i.0}}",
		icon: "/Static/Images/marker.png",
		map: map
	});
{% endfor %}
}

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnat35EqtxsdXAANY57zIOaKMXLP2C2jk&callback=initMap&language=en&region=KR">
</script>